* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.content-container > header {
  width: 100%;
  height: 56px;
}

.info-area {
  display: block;
  height: 36px;
  min-width: 128px;
  position: absolute;
  left: 1em;
  top: 9px;
}

.info-area a {
  display: block;
}

.info-area .title {
  background: url('club-f.svg') 0 center no-repeat;
  background-size: 100% ;
  color: transparent;
  font-size: 0;
  height: 36px;
  opacity: 1;
  display: block;
}

.info-area .title:hover,
.info-area .title:focus {
  background-image: url('club-f-blue.svg');
}


.links-area {
  display: block;
  width: 50%;
  min-width: 300px;
  height: 56px;
  position: absolute;
  right: 0;
  text-align: right;
}

@media screen and (max-width: 550px) {
  .links-area {
    display: none;
  }
}


.global-info {
  margin-top: 10px;
  font-size: 12px;
  margin-right: 1em;
  opacity: 0.5;
}

.global-info .selectable-input {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 0.1em;
  font-size: inherit;
  width: 120px;
}

.links-area nav {
  display: inline-block;
  vertical-align: middle;
}

nav a {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.1em;
  margin-right: 2em;
}

a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.1em;
  margin-right: 2em;
}

nav a:link {
  color: #3C40FC;
}

nav a.current:link,
nav a.current:visited {
  text-decoration: none;
  color: black;
}

nav a:visited {
  text-decoration: none;
  color: #3C40FC;
}

.map-area {
  height: 100%;
  box-sizing: border-box;
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding-top: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-area.maintenance {
  text-align: center;
  padding-top: 20%;
}

.content-area {
  padding: 2em 1em;
}

.page-title {
  font-size: 3em;
  font-weight: 200;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  color: #aaa;
}

.content-area p {
  color: #444;
  line-height: 1.4em;
  border-radius: 3px;
  margin-bottom: 1em;
}
.content-area .subtitle {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 1em;
  opacity: #666;
}

.content-area a {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
}

.content-area .content-links a {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  padding: 1em;
  border: 1px solid #eee;
  background: #fff;
}


.content-area .content-links {
  margin-top: 1em;
}

.content-well {
  padding: 2em;
  margin-top: 3em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  font-size: 0.8em;
  font-weight: 600;
}

.content-well-light {
  padding: 2em;
  background: #fefefe;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  font-size: 1em;
  line-height: 1.4em;
}

.content-well-light p {
  font-weight: normal;
}

.content-well-light h2 {
  line-height: 1.75em;
}

.content-area ul.content-list {
  list-style-type: none;
  margin-top: 1em;
}

.content-area ul.content-list li {
  vertical-align: middle;
  height: 20px;
  margin-top: 15px;
}
.content-area ul.content-list li img {
  position: relative;
  top: 4px;
  margin-right: 5px;
}

.content-area .content-well .content-division {
  float: left;
  margin-right: 1em;
  margin-bottom: 2em;
}

.content-division-third {
  float: left;
  padding-right: 2em;
  box-sizing: border-box;
  padding-bottom: 1em;
  max-width: 33.333%;
  margin-top: 2em;
}

.content-division-half {
  float: left;
  padding-right: 2em;
  box-sizing: border-box;
  padding-bottom: 1em;
  max-width: 50%;
  margin-top: 2em;
}

@media screen and (max-width: 550px) {
  .content-division-third,
  .content-division-half {
    max-width: 100%;
    padding-right: 0;
    float: none;
  }
}

/* Ping Button */

.ping-dialog-button {
  cursor: pointer;
  display: block;
  position: absolute;
  left: 160px;
  top: 0;
  width: 130px;
  height: 56px;
  border: none;
  border-radius: 5px;
  background: transparent;
  color: #3C40FC;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
  letter-spacing: 0.05em;
  text-decoration: underline;
  line-height: 56px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.ping-dialog-button.ready {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -ms-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

@media screen and (max-width: 550px) {
  .ping-dialog-button {
    right: 0;
    left: initial;
    margin: 0;
  }
}


.ping-dialog {
  overflow: hidden;
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  background: white;
  -webkit-transition: visibility 0s linear 500ms, opacity 500ms ease-in;
  -moz-transition: visibility 0s linear 500ms, opacity 500ms ease-in;
  -ms-transition: visibility 0s linear 500ms, opacity 500ms ease-in;
  -o-transition: visibility 0s linear 500ms, opacity 500ms ease-in;
  transition: visibility 0s linear 500ms, opacity 500ms ease-in;
}

.ping-dialog.ready {
  opacity: 1;
  visibility: visible;
  background: white;
  color: rgba(0,0,0,0.54);
  z-index: 99;
  -webkit-transition: opacity 500ms ease-out;
  -moz-transition: opacity 500ms ease-out;
  -ms-transition: opacity 500ms ease-out;
  -o-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
  transition-delay: 0s;
}

.ping-dialog.waiting form::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  content: '';
  background: white;
  opacity: 0.5;
  -webkit-transition: all 2s cubic-bezier(.09,.65,.37,.99);
  -moz-transition: all 2s cubic-bezier(.09,.65,.37,.99);
  -ms-transition: all 2s cubic-bezier(.09,.65,.37,.99);
  -o-transition: all 2s cubic-bezier(.09,.65,.37,.99);
  transition: all 2s cubic-bezier(.09,.65,.37,.99);
}

.ping-dialog form {
  display: block;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}

.ping-dialog form label.error {
    color: #ee0000;
}

label {
  display:block;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0,0,0,0.54);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  margin-bottom: 1em;
}

.ping-dialog form textarea {
    margin-top: 1.5em;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.08);
    padding: 1em;
    margin-right: 1em;
    font-size: 24px;
    color: #313131;
    font-weight: normal;
    outline: 0;
    width: 75%;
    background: transparent;
    -webkit-transition: border-color 1s linear;
    -moz-transition: border-color 1s linear;
    -ms-transition: border-color 1s linear;
    -o-transition: border-color 1s linear;
    transition: border-color 1s linear;
}

.ping-dialog form textarea:focus {
  border-bottom: 2px solid #0000ee;
  -webkit-transition: border-color 1s linear;
  -moz-transition: border-color 1s linear;
  -ms-transition: border-color 1s linear;
  -o-transition: border-color 1s linear;
  transition: border-color 1s linear;
}

.ping-dialog form button {
  padding: 1em;
  font-size: 24px;
  border: none;
  background: transparent;
  color: rgba(0,0,0,0.1);
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: color 1s linear;
  -moz-transition: color 1s linear;
  -ms-transition: color 1s linear;
  -o-transition: color 1s linear;
  transition: color 1s linear;
  outline: 0;
  cursor: pointer;
}

.ping-dialog form button.ready {
  color: #0000ee;
  text-decoration: underline;
  -webkit-transition: color 1s linear;
  -moz-transition: color 1s linear;
  -ms-transition: color 1s linear;
  -o-transition: color 1s linear;
  transition: color 1s linear;
}

.ping-dialog .dialog-close-button {
  border: none;
  cursor: pointer;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 96px;
  text-align: center;
  background: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #0000ee;
  text-decoration: underline;
  letter-spacing: 0.01em;
  z-index: 100;
  outline: 0;
}