* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.a {
 a: #0088f9;
 b: #8400ff;
 c: #fcca45;
 d: #e21640;
}*/


html {
  background: #8400ff;
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background: #0088f9;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

.flex {
  flex: 1;
}

.content-container > header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  min-height: 56px;
}

.header nav  {
  display: flex;
  align-items: center;
}

.links-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 1rem;
}

@media screen and (max-width: 550px) {
  .links-area {
    display: none;
  }
}



.content-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100%;
}
.map-area {
  flex: 1;
  height: 100%;
}

.map-area.maintenance {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background: black;
  color: white;
  font-weight: bold;
}

.icon {
  font-size: 3rem;
}

small {
  font-weight: normal;
  color: rgba(255,255,255,0.7);
}

.content-area {
  padding: 2rem 1em;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  color: white;
}

.page-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: white;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  text-align: center;
  border-bottom: 3px dotted rgba(255,255,255,0.5);
  padding-bottom: 1em;
}
.page-title .enhance {
  position: relative;
  top: 16px;
  padding-right: 0.2em;
}

.content-area p {
  color: rgba(255,255,255,0.9);
  line-height: 1.4em;
  border-radius: 3px;
  margin-bottom: 1em;
  font-size: 18px;
}
.content-area .subtitle {
  font-size: 1.4em;
  line-height: 1.3em;
  margin-bottom: 1em;
  opacity: 1;
  font-weight: bold;
}

.content-area a {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #0088f9;
  background: white;
  border-radius: 120px;
  padding: 0.3em 1em;
}

.content-area .content-links a {
  display: inline-block;
  font-weight: bold;
  padding: 1em;
  border: none;
  background: white;
  border-radius: 100px;
}


.content-area .content-links {
  margin-top: 1em;
}

.nav-options-area {
  margin-bottom: 1.5rem;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.03);
  /* background: rgba(255,255,255,0.1); */
}

.nav-options {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav-options a {
  box-sizing: border-box;
  padding: 0.7rem 1.2rem;
}

.nav-options a:hover {
  background: #fafafa;
}

.content-area.content-area-newsbox {
  margin-bottom: 1em;
  padding: 0;
  border-radius: 3px;
}

.content-area.content-area-newsbox-callout {
  margin-bottom: 1em;
  padding: 0;
  border-radius: 3px;
  overflow: hidden;
}

.newsbox-options {
  list-style-type: none;
}

.newsbox-option {
  display: block;
}

.newsbox-option.newsbox-option-callout {
  background: white;
  color: #e21640;
}

.newsbox-option.newsbox-option-callout a {
  color: #e21640;
  border: none;
}


.newsbox-option.newsbox-option-callout .subtext {
  color: inherit;
  font-weight: normal;
}

.newsbox-option.newsbox-option-callout a:hover {
  transform: scale(1.1)
  transition: transform 50ms ease-in;
}

.newsbox-option a {
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  padding: 1.3rem;
  width: 100%;
  transform: scale(1);
  transition: transform 200ms ease-out;
  border-radius: 0;
  background: transparent;
}

.newsbox-option:first-child a {
  border-top: none;
}

.newsbox-option a:hover {
  background: rgba(255,255,255,0.25);
}


.newsbox-option .headline {
  text-transform: none;
  letter-spacing: 0.0em;
  font-size: 1.45rem;
  color: #e21640;
  font-weight: bold;
}

.newsbox-option .subtext {
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-transform: none;
  font-family: sans-serif;
  font-weight: normal;
}


.content-well {
  padding: 2em;
  margin-top: 3em;
  background: rgba(255,255,255,0.1);
  font-size: 0.8em;
  font-weight: 600;
  border-radius: 13px;
}

.content-well-light {
  padding: 2em;
  /* border: 1px solid #ddd; */
  border-radius: 3px;
  font-size: 1em;
  line-height: 1.4em;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.03);
}

.content-well-light p {
  font-weight: normal;
}

.content-well-light h2 {
  line-height: 1.75em;
}

.content-area ul.content-list {
  list-style-type: none;
}

.content-area ul.content-list li {
  vertical-align: middle;
  height: 20px;
  margin-top: 15px;
}

.content-area ul.content-list li:first-child {
  margin-top: 0;
}

.content-area ul.content-list li img {
  position: relative;
  top: 4px;
  margin-right: 5px;
}

.content-division {
  box-sizing: border-box;
}

.content-division h3 {
  margin-bottom: 0.5em;
  font-size: 1rem;
}

.content-division-third {
  box-sizing: border-box;
  border-top: 1px dotted #aaa;
  padding-top: 2em;
  margin-top: 2em;
}

.content-division .content-left {
  float: left;
  margin-right: 1em;
}


@media screen and (max-width: 550px) {
  .content-division-third,
  .content-division-half {
  }
  .content-division .content-left {
    float: none;
  }
  .content-division .content-list {
    margin-top: 1em;
  }
  .content-well-light {
    box-sizing: border-box;
  }
}

.ip-caption {
  opacity: 0.5;
  font-weight: bold;
}

#ip-value-input {
  display: none;
}

/* Ping Button */

.clipboard.clipboard--copied {
  position: relative;
  background-color: transparent !important;
  color: white !important;
  transition: all 50ms ease-out;
  overflow: hidden;
  border-radius: 100px;
  outline: 0;
}

.enhance {
  font-size: 1.5em;
  padding-right: 0.5em;
}

.button-content {
  display: flex;
  flex-direction: column;
}

.clipboard.clipboard--copied .button-content:after {
  content: 'Copied!'
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 993;
  background: ;
  padding: 0.5rem 0.75rem;
}

.button {
  cursor: pointer;
  padding: 0 1rem;
  height: 48px;
  border: none;
  border-radius: 100px;
  background: white;
  color: #0088f9;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.025em;
  margin-left: 0.5rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*   box-shadow: 0px 3px 0px rgba(0,0,0,0.25), 0px 0px 36px rgba(0,0,0,0.05); */
  text-decoration: none;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.button--ping {
  background: #8400ff;
  color: white;
  opacity: 0;
  visibility: hidden;
}

.button--ping.ready {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -ms-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

@media screen and (max-width: 550px) {
  .ping-dialog-button {
    right: 0;
    left: initial;
    margin: 0;
  }
}

.join-dialog {
  overflow: auto;
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  visibility: hidden;
  overflow: hidden;
  background: #8400ff;
  -webkit-transition: visibility 0s linear 500ms, opacity 500ms ease-in;
  -moz-transition: visibility 0s linear 500ms, opacity 500ms ease-in;
  -ms-transition: visibility 0s linear 500ms, opacity 500ms ease-in;
  -o-transition: visibility 0s linear 500ms, opacity 500ms ease-in;
  transition: visibility 0s linear 500ms, opacity 500ms ease-in;
}

.join-dialog .content-area p {
  color: black;
}

.join-dialog .page-title {
  color: black;
}

.join-dialog.ready {
  opacity: 1;
  visibility: visible;
  background: white;
  color: #dca0f3;
  z-index: 99;
  -webkit-transition: opacity 500ms ease-out;
  -moz-transition: opacity 500ms ease-out;
  -ms-transition: opacity 500ms ease-out;
  -o-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
  transition-delay: 0s;
}



.ping-dialog {
  overflow: hidden;
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  background: #8400ff;
  -webkit-transition: visibility 0s linear 500ms, opacity 500ms ease-in;
  -moz-transition: visibility 0s linear 500ms, opacity 500ms ease-in;
  -ms-transition: visibility 0s linear 500ms, opacity 500ms ease-in;
  -o-transition: visibility 0s linear 500ms, opacity 500ms ease-in;
  transition: visibility 0s linear 500ms, opacity 500ms ease-in;
}

.ping-dialog.ready {
  opacity: 1;
  visibility: visible;
  background: #8400ff;
  color: #dca0f3;
  z-index: 99;
  -webkit-transition: opacity 500ms ease-out;
  -moz-transition: opacity 500ms ease-out;
  -ms-transition: opacity 500ms ease-out;
  -o-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
  transition-delay: 0s;
}

.ping-dialog.waiting form::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  content: '';
  background: #8400ff;
  opacity: 0.5;
  -webkit-transition: all 2s cubic-bezier(.09,.65,.37,.99);
  -moz-transition: all 2s cubic-bezier(.09,.65,.37,.99);
  -ms-transition: all 2s cubic-bezier(.09,.65,.37,.99);
  -o-transition: all 2s cubic-bezier(.09,.65,.37,.99);
  transition: all 2s cubic-bezier(.09,.65,.37,.99);
}

.ping-dialog form {
  display: block;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}

.ping-dialog form label.error {
    color: #ee0000;
}

label {
  display:block;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  margin-bottom: 1em;
}

.ping-dialog form textarea {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,.5);
    padding: 1rem;
    margin-right: 1em;
    font-size: 24px;
    color: white;
    font-weight: normal;
    outline: 0;
    width: 100%;
    background: transparent;
    -webkit-transition: border-color 1s linear;
    -moz-transition: border-color 1s linear;
    -ms-transition: border-color 1s linear;
    -o-transition: border-color 1s linear;
    transition: border-color 1s linear;
}

.ping-dialog form textarea:focus {
  border-color: wee0000;
  color: #fcca45;
  -webkit-transition: border-color 1s linear;
  -moz-transition: border-color 1s linear;
  -ms-transition: border-color 1s linear;
  -o-transition: border-color 1s linear;
  transition: border-color 1s linear;
}

.ping-dialog form button {
  border: none;
  background: transparent;
  width: 100%;
  color: rgba(0,0,0,0.1);
  text-decoration: none;
  -webkit-transition: color 1s linear;
  -moz-transition: color 1s linear;
  -ms-transition: color 1s linear;
  -o-transition: color 1s linear;
  transition: color 1s linear;
  outline: 0;
  cursor: pointer;
}

.ping-dialog form button.ready {
  color: #e21640;
  background: white;
  -webkit-transition: color 1s linear;
  -moz-transition: color 1s linear;
  -ms-transition: color 1s linear;
  -o-transition: color 1s linear;
  transition: color 1s linear;
}

.ping-dialog .dialog-close-button {
  border: none;
  cursor: pointer;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 20%;
  text-align: center;
  text-decoration: none;
  z-index: 100;
  outline: 0;
  box-shadow: none;
}

.dialog-close-button .button-inset {
  background: white;
  border-radius: 100px;
  padding: 1rem;
  color: #8400ff;