/* AudioTool */

.AudioTool {
	width: 100%;
	background: white;
	display: block;
	padding: 3em 1em;
	color: rgb(2, 46, 87);
	border-radius: 1em;
	font-weight: bold;
}

.AudioTool__signal {
	display: block;
	margin: 0 auto;
	width: 64px;
	height: 64px;
	background: #8400ff;
	border-radius: 50%;
	text-align: center;
	display: flex;
	color: white;
	font-weight: bold;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.AudioTool__signal--blink {
	animation-name: blink;
	animation-duration: 1s;
	animation-fill-mode: forwards;	
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.AudioTool__signal--b {
	background: #fcca45;
}
@keyframes blink {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	50%{
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(0.5);
	}
}