/* Header.js */
.Header {
  display: flex;
  flex: initial;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.Header__nav {
  margin-top: 1rem;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}