/* JoinNow.js */
.JoinNow {
  display: block;
  margin: 2rem 0;
  text-decoration: none;
  background: transparent;
  border-radius: 100px;
  padding: 1.25rem;
  color: white;
  text-align: center;
  font-weight: bold;
  box-shadow: inset 0px 0px 0px 10px  rgba(255,255,255,0.25);
  transform: scale(1);
}

.JoinNow:hover,
.JoinNow:focus {
  background: white;
  box-shadow: inset 0px 0px 0px 0px #8400ff, 0px 4px 16px rgba(0,0,0,0.25);
  color: #8400ff;
  transform: scale(1.05);
  transition: all 75ms linear;
}