/* JoinNow.js */
.JoinNow {
  display: block;
  margin: 2rem 0;
  text-decoration: none;
  background: transparent;
  border-radius: 100px;
  padding: 1.25rem;
  color: white;
  text-align: center;
  font-weight: bold;
  box-shadow: inset 0px 0px 0px 10px  rgba(255,255,255,0.25);
  /*border: 3px solid white;*/
}

.JoinNow:hover {
  background: white;
  box-shadow: inset 0px 0px 0px 10px #8400ff;
  color: #8400ff;
}