/* JoinNow.js */
.Join__apply {
  display: block;
  margin: 0 0 2rem 0;
  text-decoration: none;
  background: transparent;
  border-radius: 100px;
  padding: 1.25rem;
  color: #0088f9;
  text-align: center;
  font-weight: bold;
  background: rgba(0,0,0,0.65);
  transform: scale(1);
  transition: all 75ms linear;
}

.Join__apply:hover,
.Join__apply:focus {
  background: white;
  box-shadow:  0px 4px 16px rgba(0,0,0,0.25);
  color: #8400ff;
  transform: scale(1.05);
  transition: all 75ms linear;
}

.Join__apply:active {
  transition: 0ms;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.33);
  transform: scale(1.05) translateY(2px);
}


.Join__ip {
  margin-top: 2rem;
  padding: 1rem 1rem 0.75rem;
  /*box-shadow: inset 0px 0px 0px 1px  rgba(0,0,0,0.65);*/
  /*background: rgba(0,0,0,0.65);*/
  border-radius: 26px;
  text-align: center;
  font-size: 0.87rem;
  color: rgba(0,0,0,0.65);
  display: block;
}

.Join__heading {
  font-family: 'Bangers', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.17rem
}

.Join__ip ol {
  padding: 1rem 2rem;
  text-align: left;
}

.Join__ip ol li {
  margin-bottom: 4px;
}

.Join__ip-button {
  display: inline-block;
  font-weight: bold;
  border: none;
  background: rgba(0,0,0,0.65);
  font-family: monospace;
  margin-left: 4px;
  color: #0088f9;
  padding: 3px 8px;
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1);
  transition: all 100ms linear;
  outline: 0;
  overflow: hidden;
}

.Join__ip-button:hover,
.Join__ip-button:focus {
  background: white;
  color: #8400ff;
  box-shadow:  0px 4px 16px rgba(0,0,0,0.25);
  transform: scale(1.25);
  transition: all 75ms linear;
}

.Join__ip-button:active {
  transition: 0ms;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.33);
  transform: scale(1.25) translateY(2px);
}


.Join__ip--copied {
  position: relative;
}

.Join__ip--copied:after {
  content: 'Copied!';
  position: absolute;
  background-color:  rgb(2, 46, 87);
  box-shadow: 0px 0px 0px 2px rgb(2, 46, 87);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0088f9;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
